<h1>{{name}}</h1>

<section>
  <p>
  {{description}} 
  </p>
</section>
<section>
  <p>Location: <a href="{{html_url}}">{{html_url}}</a></p>
  <p><a href="/details/{{ id }}/author">About the author</a>.</p>
</section>

