<div class="rnfb-font flex flex-1 bg-red text-white text-md md:text-lg lg:text-xl xl:text-2xl font-bold">
  <div class="bg-red-dark p-3.5 lg:p-5">View Locations</div>
  <div class="bg-red p-3.5 lg:p-5 flex-grow"><a href="/schedule/friday">Manage Events</a></div>
</div>

<h2 class="rnfb-font text-green-dark text-2xl md:text-3xl font-bold p-6">Edit Location</h2>

<form method="POST" action="/locations">
  <input type="hidden" name="id" value="{{id}}">
  <div>
    <label for="name">Name:</label>
    <input id="name" value="{{name}}" placeholder="{{name}}">
  </div>

  <div>
    <label for="description">Description:</label>
    <input id="description" value="{{description}}" placeholder="{{description}}">
  </div>

  <div>
    <label for="maxAttendeeCount">Max attendee count:</label>
    <input id="maxAttendeeCount" value="{{maxAttendeeCount}}" placeholder="{{maxAttendeeCount}}">
  </div>

  <button>Save location</button>
</form>
