<h2>Edit Location {{id}}</h2>

<form method="POST" action="/locations">
  <input type="hidden" name="id" value="{{id}}">
  <div>
    <label for="name">Name:</label>
    <input id="name" value="{{name}}" placeholder="{{name}}">
  </div>

  <div>
    <label for="description">Description:</label>
    <input id="description" value="{{description}}" placeholder="{{description}}">
  </div>

  <div>
    <label for="maxAttendeeCount">Max attendee count:</label>
    <input id="maxAttendeeCount" value="{{maxAttendeeCount}}" placeholder="{{maxAttendeeCount}}">
  </div>

  <button>Save location</button>
</form>
