<div class="rnfb-font flex flex-1 bg-red text-white text-md md:text-lg lg:text-xl xl:text-2xl font-bold">
  <div class="bg-red-dark p-3.5 lg:p-5">Line-up Manager</div>
  <div class="bg-red p-3.5 lg:p-5">
    <span class="mr-2"><a href="/schedule/friday">Friday</a></span>
    <span class="mr-2"><a href="/schedule/saturday">Saturday</a></span>
    <span class="mr-2"><a href="/schedule/sunday">Sunday</a></span>
  </div>
  <div class="bg-red p-3.5 lg:p-5 flex-grow text-center"><a href="/locations">View Locations</a></div>
</div>

<h2 class="rnfb-font text-green-dark text-2xl md:text-3xl font-bold p-6">Edit Event: {{event.name}}</h2>

<form method="POST" action="/events/edit">
  <input type="hidden" name="id" value="{{event.id}}">

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Event name" value="{{event.name}}">
  </div>

  <div>
    <label for="description">Description:</label>
    <textarea id="description" name="description" placeholder="Event description">{{event.description}}</textarea>
  </div>

  <div>
    <label for="location">Location:</label>
    <select id="location" name="locationId">
      {{#each locations}}
      <option value="{{id}}" {{selected}}>{{name}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <label for="day">Day:</label>
    <select id="day" name="day">
      {{#each days}}
        <option value="{{value}}" {{selected}}>{{name}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <label for="time">Time:</label>
    <input type="text" id="time" name="time" placeholder="Example: 1pm - 2pm" value="{{event.time}}">
  </div>

  <button>Update event</button>
</form>
