<div class="rnfb-font flex flex-1 bg-red text-white text-md md:text-lg lg:text-xl xl:text-2xl font-bold w-screen">
  <div class="bg-red-dark p-3.5 lg:p-5">Line-up Manager</div>
  <div class="bg-red p-3.5 lg:p-5">
    <span class="mr-2">Friday</span>
    <span class="mr-2">Saturday</span>
    <span class="mr-2">Sunday</span>
  </div>
  <div class="bg-red p-3.5 lg:p-5 flex-grow text-center">View Locations</div>
</div>

<h2 class="rnfb-font text-green-dark text-2xl font-bold p-6">Events: {{day}}</h2>

{{#each events}}
  <div class="flex flex-row flex-wrap justify-items-end mx-6 mb-6">
    <img src="{{icon}}" class="hidden sm:block sm:w-20">
    <div class="border-red border-l-4 pl-3 w-5/6">
      <a href="/events/{{id}}" class="text-green font-roboto font-bold text-xl">{{name}}</a>
      <p class="text-gray-500">{{description}}</p>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 border-red border-l-4 pl-3 w-5/6 sm:w-auto sm:ml-20 font-roboto">
      <span class="text-green text-md font-bold">Time</span>
      <span class="text-gray-500">{{time}}</span>
      <span class="text-green text-md font-bold">Location</span>
      <span class="text-gray-500">{{location.name}}</span>
    </div>
    <span class="font-roboto text-lg font-bold text-red pl-3 sm:pl-0 sm:flex-grow sm:text-right inline align-text-bottom border-red border-l-4 sm:border-l-0"><a href="">Edit Event</a></span>
  </div>
{{/each}}
