<div class="rnfb-font flex flex-1 bg-red text-white text-md md:text-lg lg:text-xl xl:text-2xl font-bold w-screen">
  <div class="bg-red-dark p-3.5 lg:p-5">Line-up Manager</div>
  <div class="bg-red p-3.5 lg:p-5">
    <span class="mr-2">Friday</span>
    <span class="mr-2">Saturday</span>
    <span class="mr-2">Sunday</span>
  </div>
  <div class="bg-red p-3.5 lg:p-5 flex-grow text-center">View Locations</div>
</div>

<h2 class="rnfb-font text-green-dark text-2xl font-bold p-6">Events: {{day}}</h2>

{{#each events}}
  <div class="flex flex-row flex-wrap md:flex-nowrap justify-items-end mx-6 mb-6">
    <img src="{{icon}}" class="hidden sm:block sm:w-20 pr-3">
    <div class="sm:border-red sm:border-l-4 sm:pl-6 w-max sm:w-5/6">
      <a href="/events/{{id}}" class="text-green font-roboto font-bold text-xl">{{name}}</a>
      <p class="text-gray-500">{{description}}</p>
    </div>
    <div class="grid grid-cols-2 grid-rows-3 sm:border-red sm:border-l-4 sm:pl-6 pt-2 w-5/6 sm:w-auto md:w-80 sm:ml-20 md:ml-6 font-roboto">
      <span class="text-green text-md font-bold">Time</span>
      <span class="text-gray-500">{{time}}</span>
      <span class="text-green text-md font-bold">Location</span>
      <span class="text-gray-500">{{location.name}}</span>
      <span class="col-span-2 font-roboto text-lg font-bold text-red"><a href="">Edit Event</a></span>
    </div>
  </div>
{{/each}}
