{{> lineUpNav}}

<h2>Events: {{day}}
  <a href="/events/add/{{day}}">Add event</a>
</h2>

<ul class="cards">
  {{#each events}}
  <li class="card">
    <div>
      <span class="event-title"><a href="/events/{{id}}/edit">{{name}}</a></span>
      <div class="time-location">
        <p>Location <span>{{location.name}}</span></p>
        <p>Time <span>{{time}}</span></p>
        <span></span>
      </div>
    </div>
    <p class="event-description">{{description}}</p>
  </li>
  {{/each}}
</ul>