<div class="rnfb-font flex flex-1 bg-red text-white text-md md:text-lg lg:text-xl xl:text-2xl font-bold">
  <div class="bg-red-dark p-3.5 lg:p-5">Line-up Manager</div>
  <div class="bg-red p-3.5 lg:p-5">
    <span class="mr-2"><a href="/schedule/friday">Friday</a></span>
    <span class="mr-2"><a href="/schedule/saturday">Saturday</a></span>
    <span class="mr-2"><a href="/schedule/sunday">Sunday</a></span>
  </div>
  <div class="bg-red p-3.5 lg:p-5 flex-grow text-center"><a href="/locations">View Locations</a></div>
</div>

<h2 class="rnfb-font text-green-dark text-2xl md:text-3xl font-bold p-6">Events: {{day}}
  <a href="/events/add" class="font-roboto text-red text-2xl md:text-3xl sm:ml-10 block sm:inline">Add event</a>
</h2>

{{#each events}}
  <div class="flex flex-row flex-wrap md:flex-nowrap mx-6 mb-6 max-w-screen-lg">
    <img src="{{icon}}" class="hidden sm:block sm:w-20 pr-3">
    <div class="sm:border-red sm:border-l-4 sm:pl-6 w-max sm:w-5/6">
      <span class="text-green font-roboto font-bold text-xl">{{name}}</span>
      <p class="text-gray-500">{{description}}</p>
    </div>
    <div class="grid grid-cols-2 grid-rows-3 md:grid-rows-4 sm:border-red sm:border-l-4 sm:pl-6 pt-2 w-5/6 sm:w-auto md:w-80 sm:ml-20 md:ml-6 font-roboto">
      <span class="text-green text-lg font-bold">Location</span>
      <span class="text-green text-lg font-bold">Time</span>
      <span class="text-gray-500">{{location.name}}</span>
      <span class="text-gray-500">{{time}}</span>
      <span class="col-span-2 md:row-span-2 font-roboto text-xl font-bold text-red md:self-end"><a href="/events/{{id}}/edit">Edit Event</a></span>
    </div>
  </div>
{{/each}}
