<div class="rnfb-font flex flex-1 bg-red text-white text-md md:text-lg lg:text-xl xl:text-2xl font-bold w-screen">
  <div class="bg-red-dark p-3.5 lg:p-5">Line-up Manager</div>
  <div class="bg-red p-3.5 lg:p-5">
    <span class="">Friday</span>
    <span class="mx-2">Saturday</span>
    <span class="">Sunday</span>
  </div>
  <div class="bg-red p-3.5 lg:p-5 flex-grow text-center">View Locations</div>
</div>

<h2 class="rnfb-font text-green-dark text-2xl font-bold p-6">Events: {{day}}</h2>

{{#each events}}
  <div class="flex mx-10">
    <img src="{{icon}}" class="w-20">
    <div>
      <a href="/events/{{id}}" class="text-green font-roboto font-bold text-xl">{{name}}</a>
      <p class="text-gray-500">{{description}}</p>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 font-roboto">
      <div>
        <span class="text-green text-md font-bold">Location</span>
        <span class="text-gray-500">{{location.name}}</span>
      </div>
      <div>
        <span class="text-green text-md font-bold">Time</span>
        <span class="text-gray-500">{{time}}</span>
      </div>
      <span class="col-span-2 text-lg font-bold text-red"><a href="">Edit Event</a></span>
    </div>
  </div>
{{/each}}
