<form class="" action="/dogs/edit/{{id}}" method="post">
  <label for="name">
    Name:
    <input type="text" name="name" value="{{name}}">
  </label>
  
  <label for="breed">
    Breed:
    <input type="text" name="breed" value="{{breed}}">
  </label>
  
  <label for="owner">
    Owner:
    <input type="text" name="owner" value="{{owner}}">
  </label>
  
  <input type="hidden" name="image" value="{{image}}">
  
  <input type="submit" name="" value="Submit">
</form>